<footer class="bg-body-tertiary">
    <div>
        <div class="url">
            <div>
                <h5>SUIVEZ NOUS SUR</h5>
                <ul>
                    <li><a href=""><i class="fab fa-facebook"></i></a></li>
                    <li><a href=""><i class="fab fa-whatsapp"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <div>
            <p class="text-center">Website made on 2025 </p>
        </div>
    </div>
    <!-- <div>
        <div>
            <h5>CONTACTEZ-NOUS VIA</h5>
            <ul>
                <li><i class="fas fa-envelope"></i>  evolution&#64;blog.com</li>
                <li><i class="fas fa-phone"></i>  +261336954785</li>
                <li><i class="fas fa-phone"></i>  +261336954785</li>
            </ul>
        </div>
    </div> -->
</footer>