.cont-1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.card-1, .card-2, .card-3, .card-4{
    padding: 20px;
    width: 350px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.237);
    transition: transform 0.3s ease-in-out;
}
.card-1:hover, .card-2:hover, .card-3:hover, .card-4:hover{
    transform: translateY(-5px);
}
.card-1{
    background-color: rgb(133, 243, 112);
}
.card-2{
    background-color: rgb(107, 240, 222);
}
.card-3{
    background-color: rgb(46, 92, 86);
}
.card-4{
    background-color: rgb(78, 128, 221);
}
.nb{
    text-align: right;
}
.ph{
    text-align: left;
}

.chart{
    max-width:500px;
    width:100%;
}